{% load static %}
<footer>
    <img src="{% static 'img/logo.png' %}" alt="">
    <ul>
       <li><a href="https://www.flaticon.es/iconos-gratis/fotografia" title="fotografía iconos">icono creado por Freepik</a></li>
       <li><a href="https://www.flaticon.es/iconos-gratis/fotografia" title="fotografía iconos">icono creado por Freepik</a></li>
       <li><a href="https://www.flaticon.es/iconos-gratis/fotografia" title="fotografía iconos">icono creado por Freepik</a></li>
    </ul>
    <ul>
        <li><a href=" {% url 'index' %} ">Inicio</a></li>
        <li><a href=" {% url 'galeria' %} ">Geleria</a></li>
    </ul>
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/fotografia" title="fotografía iconos">icono creado por Freepik</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/fotografia" title="fotografía iconos">icono creado por Freepik</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/fotografia" title="fotografía iconos">icono creado por Freepik</a></li>
     </ul>
</footer>