{% extends 'layout/base.html' %}
{% block main %}
    <h1>almubaDev - fotógrafo</h1>
    <div class="about">
        <img src="https://picsum.photos/400/200" alt="">
        <div class="about_content">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem quod eos sapiente excepturi inventore aperiam odio dolore hic doloremque quisquam quos est, architecto eligendi et id incidunt recusandae maxime beatae?</p>
        </div>
    </div>
{% endblock main %}