{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'style.css' %} ">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'toDoHome:home' %}">Home</a></li>
                <li><a href="{% url 'toDoHome:tasks' %}">Task</a></li>
                {% comment %} Django genera una variable global user con la cual podemos acceder desde cualquier {% endcomment %}
                {% if user.is_authenticated %} 
                    <li><a href=" {% url 'toDoHome:signout' %} ">Logaout</a></li>
                {% else %}
                    <li><a href="{% url 'toDoHome:signUp' %}">Sign up</a></li>
                    <li><a href="{% url 'toDoHome:signin' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        <p>This is footer</p>
    </footer>
</body>
</html>