<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title> {% block title %}Practica Flask {% endblock title %} </title>
</head>
<body>
    <header>
        {% include "navbar.html" %}
    </header>
    <main>
        {% block main %}
            <h3>Pronamdo extencion de info dentro de los bloques</h3>
        {% endblock main %}
    </main>

</body>
</html>